div {
  display: flex;
  flex-direction: column;
  width: 8rem;
}

button {
  padding: 8px 32px;
  font-size: 1.25rem;
  border: none;
  background: #000;
  color: #FFF;
  cursor: pointer;
}

button:hover, #menu > div:hover {
  opacity: 80%;
}

#menu > div {
  background: #000;
  color: #FFF;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.hidden {
  display: none;
}